* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: #dd2020;
    padding: 16px;
    color: #fff;

}
header > .container a{
    color: #fff;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    
}
header .container{
    display:flex;
}
header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header li{
    color: aliceblue;
    text-decoration: none;
    margin-left: 16px;
}
.container{
    width: 1800px;

    margin: 0 auto;
}
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.articles article img{
    /*height: 180px; */
    width: 100%;
}
.articles article{
    width: 30%;
}

section{
    padding: 16px;
}
section h2,
.articles articles{
    margin-bottom:16px ;
}
.articles article h3{
    margin-top:8px;
    margin-bottom: 8px;
}
.articles article a{
    background-color:blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    margin-top: 8px;
}
.articles article a:hover{
    text-decoration: underline;
}

.articles article p{
    font-family: Arial, Helvetica, sans-serif
}
.container h1{
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif 
}
.container h2{
    font-family: Arial, Helvetica, sans-serif
    
}
.container h3{
    font-family: Arial, Helvetica, sans-serif
    
    
}
.articles articles p,
.articles articles a {
    font-family: Arial, Helvetica, sans-serif

}

#economy{
    background-color: rgba(235, 224, 75, 0.418);
}
section h2 {
    font-size: 32px;
}
#sports{
    background-color: rgba(158, 219, 247, 0.425);
}
.articles article a {
    background-color: black;
    
}
#Enter {
    background-color:rgba(168, 9, 22, 0.493);
}
#Tecno{
    background-color: turquoise;
}
#Enter a{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:red;
}
#Tecno a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
} 



